<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Controle de Conexões </title>
<link href="./compartilhado/bootstrap.min.css" rel="stylesheet">
</head>
<body>

	<div class="container" ng-app="myAppBr" >	
	    	
		<div ng-controller="FormController" >
			
			<div ng-show="processo == null">
    			<h2> <small> Controle de Conexões </small></h2>			
                 <form name="myForm" class="form-horizontal">
                        <div class="form-group">
                            <label for="inputNome" class="col-sm-1 control-label">Filtro: </label>                  
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="inputNome" name="inputNome" placeholder="Filtro" ng-model="filtro" />
                            </div>
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-primary btn-lg" ng-click="clkBtnPesquisar()">Pesquisar</button>
                            </div>
                        </div>
                        
                        <div class="form-group" ng-show="ultimoProcessoFechado != null">
                            <div class="alert alert-danger alert-dismissible col-sm-12" role="alert">
                                Último Processo Fechado: {{ ultimoProcessoFechado }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="ultimoProcessoFechado = null">
                                    <span aria-hidden="true">&times;</span>
                                </button>  
                             </div>                            
                        </div>
                        
                 </form>
    			
    			<table class="table table-hover">
    				<thead>
    					<tr class="success">
    						<th ng-click="ordenarPor='pid'"> pid </th>
    						<th ng-click="ordenarPor='client_addr'"> client_addr </th>
    						<th ng-click="ordenarPor='application_name'"> application_name </th>
    						<th ng-click="ordenarPor='backend_start'"> backend_start </th>
    						<th ng-click="ordenarPor='query_start'"> query_start </th>
    						<th ng-click="ordenarPor='state_change'"> state_change </th>
    						<th ng-click="ordenarPor='waiting'"> waiting </th>
    						<th ng-click="ordenarPor='query'"> query </th>
    						<th ng-click="ordenarPor='state'"> state </th>
    						<th></th>
    					</tr>
    				</thead>
    				<tbody>
    					<tr ng-repeat="linha in processosVetor  | orderBy: ordenarPor | filter: filtro as filtrado">
    						<th scope="row">{{ linha.pid }}</th>
    						<td> <span ng-class="{ 'label label-info': (podeExibirDestaqueIP(linha)) }">  {{ linha.client_addr }} </span> </td>
    						<td>{{ linha.application_name }}</td>
    						<td>{{ linha.backend_start | dateToISO | date:'dd/MM/yyyy HH:mm:ss' }}</td>
    						<td>{{ (linha.query_start | dateToISO | date:'dd/MM/yyyy HH:mm:ss') }} </td>
    						<td>{{ linha.state_change | dateToISO | date:'dd/MM/yyyy HH:mm:ss' }}</td>
    						<td>{{ linha.waiting }}</td>
    						<td title="{{ linha.query }}">{{ linha.query | limitTo: 15 }}...</td>
    						<td> <span ng-class="{ 'label label-danger': linha.state == 'active' }"> {{ linha.state }} </span> </td>
    						<td>
    							<button type="button" class="btn btn-info btn-xs" ng-click="clkOpcaoInfo(linha)"> Info </button>
    							<button type="button" class="btn btn-danger btn-xs" ng-if="podeExibirBotaoKill(linha)" ng-click="clkOpcaoKill(linha)"> Kill </button>
    						</td>
    					</tr>
    				</tbody>
    			</table>
    			
    			<p> <b> Total Filtrado: </b> {{ filtrado.length }} </p>
    			<p> <b> Total de Processos: </b> {{ processosVetor.length }} </p>
    			
    	   </div>
			

        <div ng-show="processo != null">
            <h2> <small> Informações do Processo: </small></h2>
        	<form class="form-horizontal">
               <div class="form-group">
                    <label class="col-sm-2 control-label">Pid</label>                  
                    <div class="col-sm-1">
                        <input class="form-control" ng-value="processo.pid" disabled>
                    </div>
                </div>	    
               <div class="form-group">
                    <label class="col-sm-2 control-label">datname</label>                  
                    <div class="col-sm-10">
                        <p class="form-control-static" ng-bind="processo.datname"> </p>
                    </div>
                </div>	    
               <div class="form-group">
                    <label class="col-sm-2 control-label">client_addr</label>                  
                    <div class="col-sm-10">
                        <p class="form-control-static" ng-bind="processo.client_addr">  </p>
                    </div>
                </div>	    
               <div class="form-group">
                    <label class="col-sm-2 control-label">application_name</label>                  
                    <div class="col-sm-10">
                        <p class="form-control-static" ng-bind="processo.application_name">  </p>
                    </div>
                </div>	    
               <div class="form-group">
                    <label class="col-sm-2 control-label">backend_start</label>                  
                    <div class="col-sm-10">
                        <p class="form-control-static" ng-bind="processo.backend_start | dateToISO | date:'dd/MM/yyyy HH:mm:ss'">  </p>
                    </div>
                </div>	    
               <div class="form-group">
                    <label class="col-sm-2 control-label">query_start</label>                  
                    <div class="col-sm-10">
                        <p class="form-control-static" ng-bind="processo.query_start | dateToISO | date:'dd/MM/yyyy HH:mm:ss'"> </p>
                    </div>
                </div>	    
               <div class="form-group">
                    <label class="col-sm-2 control-label">state_change</label>                  
                    <div class="col-sm-10">
                        <p class="form-control-static" ng-bind="processo.state_change | dateToISO | date:'dd/MM/yyyy HH:mm:ss'"> </p>
                    </div>
                </div>	    
               <div class="form-group">
                    <label class="col-sm-2 control-label">waiting</label>                  
                    <div class="col-sm-10">
                        <p class="form-control-static" ng-bind="processo.waiting"> </p>
                    </div>
                </div>	    
               <div class="form-group">
                    <label class="col-sm-2 control-label">query</label>                  
                    <div class="col-sm-10">
                        <p class="form-control-static" ng-bind="processo.query"> </p>
                    </div>
                </div>	    
               <div class="form-group">
                    <label class="col-sm-2 control-label">state</label>                  
                    <div class="col-sm-10">
                        <p class="form-control-static" ng-bind="processo.state"> </p>
                    </div>
                </div>	    
               <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-warning btn-lg" ng-click="clkOpcaoInfoClose()">Fechar</button>
                        <button type="button" class="btn btn-danger btn-lg" ng-if="podeExibirBotaoKill(processo)" ng-click="clkOpcaoKill(processo)">Kill</button>
                    </div>
                </div>	    
        	</form>
    	</div>
	</div>
	

	<script type="text/javascript" src="./compartilhado/angular.min.js"></script>	
	<script type="text/javascript" src="app.js"></script>	

</body>
</html>